#include <bits/stdc++.h>
#define X first
#define Y second
#define pb push_back
#define eb emplace_back
#define all(x) begin(x), end(x)
#define rall(x) rbegin(x), rend(x)
#define sz(x) (int)(x).size()
#define ll long long
#define pii pair<int, int>
#define pll pair<long long, long long>
#define vi vector<int>
#define vll vector<long long>
#define mii map<int, int>
#define si set<int>
#define sc set<char>
#define MOD 1000000007
#define INF 1e18
#define EPS 1e-9
#define PI 3.1415926535897932384626433832795

using namespace std;

// Fast I/O setup
void indef(){
#ifndef ONLINE_JUDGE
    freopen("input.txt","r",stdin);
    freopen("output.txt","w",stdout);
#endif
}

// Debug macro
#ifdef DEBUG
#define debug(x) cerr << #x << " = " << x << endl
#else
#define debug(x)
#endif

// Utility functions
template<typename T> inline void chmax(T &a, T b) { a = max(a, b); }
template<typename T> inline void chmin(T &a, T b) { a = min(a, b); }

void solve() {
    int n;
    cin >> n;
    cout << n << "\n";
}
 
int main() {
    ios::sync_with_stdio(false);
    cin.tie(nullptr);
    
    indef();
    
    int t = 1;
    cin >> t;
    
    while (t--) {
        solve();
    }
    
    return 0;
}
